/* CSS DOCUMENT */
@charset "UTF-8";
/* este archivo también está mal indentado*/
@font-face {
    font-family:"Bebas Bold";
    src: url("fonts/BebasNeue_Bold.otf") format("opentype");
font-weight: normal;
font-style: normal;
}
body {
    font-family:Arial, sans-serif; /*no incluiste ni el font-face ni el link externo a esta tipografía, ojo*/
    margin:0;
    background-color:white;
    color:#333333;
    line-height:1.6;
}
/*TITULOS*/
h1,h2 {
    font-family:"Bebas Bold", sans-serif;
}
h1 {
    font-size: 48px;
    margin:10px 0;
    letter-spacing:2px;
}
h2 {
    font-size:25px;
    color: #333333;
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    }
    /*ENCABEZADO*/
    header {
        background-color:#f7f3ed;
        text-align:center;
        padding:30px;
        border-bottom:2px solid #333333;
      }
      .encabezado { 
        max-width:800px;
        margin:auto;
        display:flex;
        align-items:center;
        gap:40px;
        }
      /*IMAGEN*/
      header img {   
        width:120px;
        height: 120px;
        object-fit: cover;
        border-radius:50%;
       }
       .recurso-visual img {
        width: 220px;
        height: auto;
        }
       /*CONTENIDO*/
       main {
        max-width:800px;
        margin:auto;
        padding:30px;
        }
        /*SECCIONES*/
        section {
            margin-bottom: 30px;
            }
            /*LISTAS*/
            ul, ol{
                padding-left: 25px;
                }
                .datos {
                    list-style:none;
                    padding-left:0;
                    }
                /*ENLACES*/
                a{
                    color: #0066cc;
                    text-decoration:underline;
                    font-weight: bold;
                    }
                    a:hover {
                        text-decoration:underline;
                        }
                        .contenedor-diseño {
                            display:flex;
                            align-items: center;
                            gap: 25px;
                            background: #faf8f5;
                            padding: 20px;
                            border-radius: 8px;
                            }
                        /*PIE DE PAGINA*/
                        footer{
                            max-width:800px;
                            margin:auto;
                            padding:20px 30px 40px;
                            border-top: 1px solid #999999;
                            }



